.titleLine1 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: white;
    float: center;
    padding-left: 100px;
}

.titleLine2 {
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: white;
    padding-left: 100px;
}

#gif-here {
    border: 2px solid black;
    padding-top: 20px;
    padding-left: 10px;
    margin-top: 20px;
    text-align: center;
}

#container {
    align-content: center;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

body {
    background-image: url("../images/6894652-simple-wallpaper.jpg");
    background-size: cover;
    font-family: 'Karla', sans-serif;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

.row {
    text-align: center;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}

.rating {
    color: white;
    font: bold 5px;
    font-family: 'Oswald', sans-serif;
}

#buttons {
    font-family: 'Oswald', sans-serif;
}